html{
    background-image: url('castlebg.jpeg');
    background-size: 100%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
body{
    color: #d8d8d8;
    
}

#game {
    text-align: center;
    padding: 20px;
    background-position: 10%;
    font-size: large;
}

#miningArea, #woodcuttingArea {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    color: black;
}

#miningArea {
    background-image: url('stonetexture.jpeg');
}

#woodcuttingArea {
    background-image: url('woodtexture.jpeg');
}

#status, #crafting, #phoneNumber {
    margin-top: 20px;
}

.digitButton {
    margin: 5px;
    padding: 10px;
    border: 1px solid grey;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 8vw;
    height: 5vw;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    background-image: url('stone.jpeg');
    opacity: 90%;
    background-size: 170%;
    color: black;
}

.digitButton:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: large;

}

#loadingBar {
    width: 0%;
    height: 20px;
    background-color: green;
    transition: width 2s;
}

#loadingContainer {
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
}

.upgradeContainer {
    position: relative;
    display: inline-block;
}

.upgradeContainer:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
}

#submitNumber{
    width: 12vw;
    height: 5vw;
    font-size: large;
    background-color: darkgoldenrod;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

#crafting{
   margin: 3%;
}